<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 读取配置 -->
	<bean class="com.gxws.tool.link.properties.spring.LinkPropertiesBean">
		<property name="constantClassnames">
			<list>
				<value>com.gxws.test.constant.Constant</value>
			</list>
		</property>
	</bean>

</beans>
